node_modules
build
.env.local
.env.development
.env.production
.git
.gitignore
frontend-html
npm-debug.log
Dockerfile
README.md
dist
coverage
docs
*.lognode_modules
build
.dockerignore
Dockerfile
.git
.gitignore
.env
.vscode
dist
npm-debug.log
*.log
.DS_Store
.idea
coverage
*.rar